//paleta de colores
$colorBg: #886b82;
$color2: #4e4458;
$colorText: #e7d6d5;
$color1: #3b3545; //mas oscuro
$color3: #cda9b2;
$claro: #f8f9f8; //cuasi blanco

//fuentes
$letra: 'Raleway', sans-serif;