@import "../utilities/variables";
.body{
    background-color: $colorBg;
}
.header{
    display: flex;
    justify-content: center;
    background-color: $colorBg;
    height: 70px;
    &__title{
        text-decoration: none;
        h1:hover{
            transform: scaleY(1.1);
            cursor: pointer;
        }
        h1{
            color: $claro;
            padding: 10px 15px ;
            border-right: solid 1px $claro;
            font-size: 40px;
            font-family: "Ephesis", cursive;
            span{
                color: $color3;
                margin-right: 8px;
            }
        }
    }
    &__nav{
        ul{
            margin-left: 15px;
            list-style: none;
            display: flex;
            justify-content: center;
            li{
                text-decoration: none;
                margin: 15px 5px;
                padding: 10px 10px;
                a{
                    @extend %ancor;
                }
                a:hover{
                    transform: scaleY(1.1);
                    cursor: pointer;
                    color: $color1;
                }
            }
        }
    }
    &__redes{
        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            margin-left: 20px;
            li{
                @extend %redes;
            }
        }
    }
}

//main
.carousel-item{
    img{
        width: 240px;
    }
}
.container{
    height: 900px;
    display: grid;
    grid-template-columns: 700px 370px;
    grid-template-rows: repeat(380px) ;
    grid-template-areas: 
    "encabezado tutorial"
    "cuerpo carrusel"
    ;
    h2{
        font-family: $letra;
        font-weight: 500;
        font-size: 40px;
        word-spacing: 1px;
        color: claro;
    }
    h3{
        font-family: $letra;
        font-weight: 500;
        color: black;
    }
    p{
        font-family: $letra;
        font-weight: 300;
        color: $colorText;
        font-size: 20px;
    }
    span{
        font-family: $letra;
        font-weight: 500;
        color: $colorText;
        font-size: 28px;
    }
    li{
        font-family: $letra;
        font-weight: 500;
        font-size: 20px;
        color: claro;
    }
    .encabezado{
        grid-area: "encaezado";
    }
    .cuerpo{
        grid-area: "cuerpo";
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0px 15px;
    }
    .tutorial{
        grid-area: "tutorial";
    }
    .carrusel{
        height: 340px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
}

//footer
.footer{
    background-color: $colorBg;
    height: 210px;
    display: grid;
    padding: 8px 10px;
    grid-template-columns: 6fr 6fr;
    justify-items: center;
    align-items: center;
    &__div1{
        h4{
            @extend %texto;
        }
        &__informacion{
            @extend %div;
            &__mensaje{
                text-align: center;
            }
        }
    }
    &__div2{
        margin-right: 120px;
    }
    h5{
        @extend %h5;
    }
}